body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #4a90e2;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background: white;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #2c3e50;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

.project a {
  color: #4a90e2;
}

footer {
  background-color: #4a90e2;
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
}

a {
color: blue;
text-decoration: underline;
cursor: pointer;
}
.certificate {
display: none;
margin-top: 20px;
border: 1px solid #ccc;
padding: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
max-width: 600px;
}
.certificate img {
width: 100%;
height: auto;
display: block;
}